<div class="home-page">
  <div nag-revealing-panel="revealingPanelDefaultOptions" data-ut="defaults" data-template="/app/components/home/assets/templates/defaults.html"></div>
  <div nag-revealing-panel="revealingPanelLeftOptions" data-ut="left" data-template="/app/components/home/assets/templates/left.html"></div>
  <div nag-revealing-panel="revealingPanelRightOptions" data-ut="right" data-template="/app/components/home/assets/templates/right.html"></div>
  <div nag-revealing-panel="revealingPanelTopOptions" data-ut="top" data-template="/app/components/home/assets/templates/top.html"></div>
  <div nag-revealing-panel="revealingPanelBottomOptions" data-ut="bottom" data-template="/app/components/home/assets/templates/bottom.html"></div>
  <div nag-revealing-panel="revealingPanelCenterOptions" data-ut="center" data-template="/app/components/home/assets/templates/center.html"></div>
  <div nag-revealing-panel="revealingCloseOnEscapeOptions" data-ut="close-on-escape" data-template="/app/components/home/assets/templates/close-on-escape.html"></div>
  <div nag-revealing-panel="revealingDontCloseOnEscapeOptions" data-ut="dont-close-on-escape" data-template="/app/components/home/assets/templates/dont-close-on-overlay-click.html"></div>
  <div nag-revealing-panel="revealingCloseOnOverlayClickOptions" data-ut="close-on-overlay-click" data-template="/app/components/home/assets/templates/close-on-overlay-click.html"></div>
  <div nag-revealing-panel="revealingDontCloseOnOverlayClickOptions" data-ut="dont-close-on-overlay-click" data-template="/app/components/home/assets/templates/dont-close-on-overlay-click.html"></div>
  <div nag-revealing-panel="revealingHasOverlayOptions" data-ut="has-overlay" data-template="/app/components/home/assets/templates/has-overlay.html"></div>
  <div nag-revealing-panel="revealingNoOverlayOptions" data-ut="no-overlay" data-template="/app/components/home/assets/templates/no-overlay.html"></div>
  <!-- todo: this should have it own template and configuration object -->
  <div nag-revealing-panel="revealingPanelLeftOptions" data-event="hover" data-ut="hover" data-template="/app/components/home/assets/templates/left.html"></div>
  <div nag-revealing-panel="revealingContentExternalTemplateOptions" data-ut="content-external-template" data-template="/app/components/home/assets/templates/content-external-template-base.html"></div>
</div>
